body {
    font-family: monospace;
}

h1, h2 {
    text-align: center;
}

li {
    list-style-type: none;
}

img {
    border: 2px solid black;
    border-radius: 20px;
    width: 100px;
    height: 100px;
}

.container-one {
    border: 5px double black;
    border-radius: 50px;
    display: block;
    width: 500px;
    height: 200px;
    margin: auto;
    margin-top: 50px;
    padding: auto;
}

.container-two {
    border: 5px double black;
    border-radius: 50px;
    display: block;
    width: 500px;
    height: 200px;
    margin: auto;
    margin-top: 50px;
    padding: auto;
}
